IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*
SetEnvIfNoCase User-Agent "^libwww-perl*" block_bad_bots
Deny from env=block_bad_bots

<Limit GET POST>
	order deny,allow
	deny from all
	allow from all
</Limit>

<Limit PUT DELETE>
	order deny,allow
	deny from all
</Limit>

# Disable server signature 
ServerSignature Off

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /MocoComics
	RewriteCond %{REQUEST_URI} ^system.*
	RewriteRule ^(.*)$ /index.php?/$1 [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

ErrorDocument 404 404.html
