@import url(http://fonts.googleapis.com/css?family=Montserrat|Cabin|Muli|Lato|Raleway);
html { 
	height: auto;
}

body {
	height: auto;
	width: 100%;
  	overflow-x: hidden;
  	font-size: 100%;
  	margin: 0;
  	padding: 0;
  	color:rgba(0,0,0,0.8);
  	-webkit-font-smoothing: antialiased;
  	font-family: 'Muli', 'Lato', sans-serif;
  	position:relative;
}

ul{
	padding:0;
}

li {
	list-style-type: none;
	display: inline-block;
}

a {
	text-decoration: none;
	color: inherit;
	cursor:pointer;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 95%;
	position:relative;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
 
.clearfix:after {
	clear: both;
}
 
.clearfix {
	*zoom: 1;
}
.vertical-align{
	height: 100%;
	display:inline-block;
	vertical-align:middle;
}
.pull-right, .pull-left{
	height:100%;
}
.pull-right{
	position:absolute;
	right:0;
}
.pull-left{
	position:absolute;
	left:0;
}
.pull-right-f{
	float:right;
}
.pull-left-f{
	float:left;
}
.leftxt{
	text-align:left;
}
.rightxt{
	text-align:right;
}

button{
	border:0;
	padding:10px 20px;
}
input:focus, select:focus, textarea:focus, button:focus, [contenteditable="true"]{
	outline:none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   #ccc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #ccc;
}
.select::after{
	content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #fff;
    display: inline-block;
    position: relative;
    top: -1px;
    left: 2px;
}
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	cursor: pointer;
	outline:none;
}
.column{
	padding-left:1rem;
	padding-right:1rem;
	float: left; 
}

.xsd1{ width: 8.33%; }
.xsd2{ width: 16.66%; }
.xsd3{ width: 24.99%; }
.xsd4{ width: 33.32%; }
.xsd5{ width: 41.65%; }
.xsd6{ width: 49.98%; }
.xsd7{ width: 58.31%; }
.xsd8{ width: 66.64%; }
.xsd9{ width: 74.97%; }
.xsd10{ width: 83.3%; }
.xsd11{ width: 91.63%; }
.xsd12{ width: 100%%; }

.offset1{margin-left:8.33%;}
.offset2{margin-left:16.66%;}
.offset3{margin-left:24.99%;}
.offset4{margin-left:33.32%;}
.offset5{margin-left:41.65%;}
.offset6{margin-left:49.98%;}
.offset7{margin-left:58.31%;}
.offset8{margin-left:66.64%;}
.offset9{margin-left:74.97%;}
.offset10{margin-left:83.3%;}
.offset11{margin-left:91.63%;}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
	margin:0;
	font-family: 'Montserrat', 'Cabin', sans-serif;
}
ul, p{
	margin:0;
}
h1, .h1{font-size:2em;}
h2, .h2{font-size:1.8em;}
h3, .h3{font-size:1.6em;}
h4, .h4{font-size:1.4em;}
h5, .h5{font-size:1.2em;}
h6, .h6{font-size:1em;}

.xsd-invisible{
	display:none !important;
}
.xsd-visible{
	display:block !important;
}
.xsd-hide{
	visibility:hidden;
}
.xsd-appear{
	visibility: visible;
}
.nav.complete{
	width:100%;
	position:relative;
}
.absolute-center{
	height:100%;
	width:auto;
	position:absolute;
	top:0;
	left:50%;
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0);
}
.img-round.small{
	width:20vh;
	height:20vh;
	border-radius:1000px;
	margin:0 auto;
}
.img-round.medium{
	width:30vh;
	height:30vh;
	border-radius:1000px;
	margin:0 auto;
}
progress{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
}
progress::-webkit-progress-bar {
  background-color: #eee;
}
progress[value]::-moz-progress-bar { 
  background: #eee;
  border-radius: 2px; 
}
progress::-webkit-progress-value {
  	background:#6fce72;
    border-radius: 2px; 
}
progress::-webkit-progress-value::after {
  content: '100%';
  position: absolute;
  right: -30%;
  top: -5%;
}

blockquote{
	display:block;
	width:90%;
	height:auto;
	max-width:600px;
	border-left:5px solid #333;
	margin:1em auto;
	padding:1em 2em;
	text-align:left;
	color:rgba(0,0,0,0.8);
	font-size:1.2em;
}
cite{
	display:inline-block;
	padding-left:1em;
	margin-top:1em;
}
.underlinetxt{
	text-decoration: underline;
}
.button-3d{
	margin:0 auto 1em;
	display:block;
	background:#fff;
	color:#333;
	border-bottom:4px solid #ccc;
	font-weight:bold;
	-webkit-transition:all 1s;
	transition:all 1s;
}
textarea{
	resize: none;
	border:0;
}
input{
	border:0;
	padding-left:0.5em;
}



/* XSD Smartphones (THIS IS DEFAULT, SHOULDN'T USE)  *768px* */
@media screen and (max-width: 700px){}

/* SD Portrait-specific tablets *(min-width: 700px) and (max-width: 768px) and (orientation: portrait) * */
@media screen and (min-width: 700px){
	body{
		font-size:120% !important;
	}
	.column.flow-opposite{
		float:right !important; 
	}
	.column.sd1{ width: 8.33%; float:left; }
	.column.sd2{ width: 16.66%; float:left; }
	.column.sd3{ width: 24.99%; float:left; }
	.column.sd4{ width: 33.32%; float:left; }
	.column.sd5{ width: 41.65%; float:left; }
	.column.sd6{ width: 49.98%; float:left; }
	.column.sd7{ width: 58.31%; float:left; }
	.column.sd8{ width: 66.64%; float:left; }
	.column.sd9{ width: 74.97%; float:left; }
	.column.sd10{ width: 83.3%; float:left; }
	.column.sd11{ width: 91.63%; float:left; }
	.column.sd12{ width: 100%%; float:left; }
	
	.sd-offset1{margin-left:8.33%;}
	.sd-offset2{margin-left:16.66%;}
	.sd-offset3{margin-left:24.99%;}
	.sd-offset4{margin-left:33.32%;}
	.sd-offset5{margin-left:41.65%;}
	.sd-offset6{margin-left:49.98%;}
	.sd-offset7{margin-left:58.31%;}
	.sd-offset8{margin-left:66.64%;}
	.sd-offset9{margin-left:74.97%;}
	.sd-offset10{margin-left:83.3%;}
	.sd-offset11{margin-left:91.63%;}


	.sd-invisible{
		display:none !important;
	}
	.sd-visible{
		display:block !important;
	}
	.sd-hide{
		visibility:hidden;
	}
	.sd-appear{
		visibility: visible;
	}


	
}

/* Landscape-specific tablets *(min-width:768px) and (max-width: 1024px) and (orientation: landscape)* */
@media screen and (min-width:769px){
	body{
		
	}
	.sd-l1{ width: 8.33%; }
	.sd-l2{ width: 16.66%; }
	.sd-l3{ width: 24.99%; }
	.sd-l4{ width: 33.32%; }
	.sd-l5{ width: 41.65%; }
	.sd-l6{ width: 49.98%; }
	.sd-l7{ width: 58.31%; }
	.sd-l8{ width: 66.64%; }
	.sd-l9{ width: 74.97%; }
	.sd-l10{ width: 83.3%; }
	.sd-l11{ width: 91.63%; }
	.sd-l12{ width: 100%%; }
	
	.column.sd-l1{ width: 8.33%; float:left; }
	.column.sd-l2{ width: 16.66%; float:left; }
	.column.sd-l3{ width: 24.99%; float:left; }
	.column.sd-l4{ width: 33.32%; float:left; }
	.column.sd-l5{ width: 41.65%; float:left; }
	.column.sd-l6{ width: 49.98%; float:left; }
	.column.sd-l7{ width: 58.31%; float:left; }
	.column.sd-l8{ width: 66.64%; float:left; }
	.column.sd-l9{ width: 74.97%; float:left; }
	.column.sd-l10{ width: 83.3%; float:left; }
	.column.sd-l11{ width: 91.63%; float:left; }
	.column.sd-l12{ width: 100%%; float:left; }
	
	.sd-loffset1{margin-left:8.33%;}
	.sd-loffset2{margin-left:16.66%;}
	.sd-loffset3{margin-left:24.99%;}
	.sd-loffset4{margin-left:33.32%;}
	.sd-loffset5{margin-left:41.65%;}
	.sd-loffset6{margin-left:49.98%;}
	.sd-loffset7{margin-left:58.31%;}
	.sd-loffset8{margin-left:66.64%;}
	.sd-loffset9{margin-left:74.97%;}
	.sd-loffset10{margin-left:83.3%;}
	.sd-loffset11{margin-left:91.63%;}
	.sd-l-invisible{
		display:none !important;
	}
	.sd-l-visible{
		display:block !important;
	}
	.sd-l-hide{
		visibility:hidden;
	}
	.sd-l-appear{
		visibility: visible;
	}

}
/* MD Medium laptops */
@media screen and (min-width: 1025px){
	body{
		font-size:130% !important;
	}
	
	.md1{ width: 8.33%; }
	.md2{ width: 16.66%; }
	.md3{ width: 24.99%; }
	.md4{ width: 33.32%; }
	.md5{ width: 41.65%; }
	.md6{ width: 49.98%; }
	.md7{ width: 58.31%; }
	.md8{ width: 66.64%; }
	.md9{ width: 74.97%; }
	.md10{ width: 83.3%; }
	.md11{ width: 91.63%; }
	.md12{ width: 100%%; }
	
	.column.md1{ width: 8.33%; float:left; }
	.column.md2{ width: 16.66%; float:left; }
	.column.md3{ width: 24.99%; float:left; }
	.column.md4{ width: 33.32%; float:left; }
	.column.md5{ width: 41.65%; float:left; }
	.column.md6{ width: 49.98%; float:left; }
	.column.md7{ width: 58.31%; float:left; }
	.column.md8{ width: 66.64%; float:left; }
	.column.md9{ width: 74.97%; float:left; }
	.column.md10{ width: 83.3%; float:left; }
	.column.md11{ width: 91.63%; float:left; }
	.column.md12{ width: 100%%; float:left; }
	
	.mdoffset1{margin-left:8.33%;}
	.mdoffset2{margin-left:16.66%;}
	.mdoffset3{margin-left:24.99%;}
	.mdoffset4{margin-left:33.32%;}
	.mdoffset5{margin-left:41.65%;}
	.mdoffset6{margin-left:49.98%;}
	.mdoffset7{margin-left:58.31%;}
	.mdoffset8{margin-left:66.64%;}
	.mdoffset9{margin-left:74.97%;}
	.mdoffset10{margin-left:83.3%;}
	.mdoffset11{margin-left:91.63%;}
		
	.md-invisible{
		display:none !important;
	}
	.md-visible{
		display:block !important;
	}
	.md-hide{
		visibility:hidden;
	}
	.md-appear{
		visibility: visible;
	}
	

}
/* LD Large laptops */
@media screen and (min-width: 1281px){
	body{
		font-size:150%;
	}
	.column.ld1{ width: 8.33%; }
	.column.ld2{ width: 16.66%; }
	.column.ld3{ width: 24.99%; }
	.column.ld4{ width: 33.32%; }
	.column.ld5{ width: 41.65%; }
	.column.ld6{ width: 49.98%; }
	.column.ld7{ width: 58.31%; }
	.column.ld8{ width: 66.64%; }
	.column.ld9{ width: 74.97%; }
	.column.ld10{ width: 83.3%; }
	.column.ld11{ width: 91.63%; }
	.column.ld12{ width: 100%%; }
	.ld-invisible{
		display:none !important;
	}
	.ld-visible{
		display:block !important;
	}
	.ld-hide{
		visibility:hidden;
	}
	.ld-appear{
		visibility: visible;
	}
}
/* XLD Extra-large laptops */
@media screen and (min-width: 1921px){
	body{
		
	}.column.xld1{ width: 8.33%; }
	.column.xld2{ width: 16.66%; }
	.column.xld3{ width: 24.99%; }
	.column.xld4{ width: 33.32%; }
	.column.xld5{ width: 41.65%; }
	.column.xld6{ width: 49.98%; }
	.column.xld7{ width: 58.31%; }
	.column.xld8{ width: 66.64%; }
	.column.xld9{ width: 74.97%; }
	.column.xld10{ width: 83.3%; }
	.column.xld11{ width: 91.63%; }
	.column.xld12{ width: 100%%; }
	.xld-invisible{
		display:none !important;
	}
	.xld-visible{
		display:block !important;
	}
	.xld-hide{
		visibility:hidden;
	}
	.xld-appear{
		visibility: visible;
	}
}

/* 4K, THAT'S RIGHT BABY! */
@media screen and (min-width: 3840px){
	body{
		
	}
	
}
/* 5K, WHAT THE HECK?! */
@media screen and (min-width: 5120px){
	body{
		
	}
}

/* CSS for Printing */
@media print{
	
}