@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700,300);

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
	margin:0;
	_font-family: 'Roboto', sans-serif;
}
body{
	background: #FFC107;
	background: url('../img/admin/back.jpg') 50% 50% no-repeat;
	background-size: cover; 
	height:100vh;
	width:100%;
}
.container{
	position:static;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
}
fieldset{
	width:100%;
	max-width:700px;
	height:auto;
	position:absolute;
	top:45%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	border:0;
	text-align: center;
	padding:1em;
	border-radius:2px;
	color:#fff;
}
form{
	-webkit-box-shadow: 0 0px 5px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0px 5px 2px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 0px 5px 2px rgba(0,0,0,0.15);
	box-shadow: 0 0px 5px 2px rgba(0,0,0,0.15);
}
.header{
	width:100%;
	height:auto;
	background:#F57F17;
	padding:0.5em 0;
	position: relative;
}
.header button{
	position: absolute;
	bottom: -1em;
	right: 1em;
}
button{
	width: 2.5em;
	height: 2.5em;
	border-radius: 100%;
	text-align: center;
	padding: 0;
	background: #f8f8f8;
	color: #E65100;
	-webkit-box-shadow: 0 0px 5px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0px 5px 2px rgba(0,0,0,0.15);
	-ms-box-shadow: 0 0px 5px 2px rgba(0,0,0,0.15);
	box-shadow: 0 0px 5px 2px rgba(0,0,0,0.15);
}
.body{
	width:100%;
	height:auto;
	padding:1em 0.5em;
	background:#fff;
}
input{
	width:90%;
	max-width: 400px;
	display:block;
	margin:2em auto;
	border-bottom: 1px solid #F57F17;
	color:#333;
}
.config{
	width:auto;
	height:auto;
	position:absolute;
	left:50%;
	bottom:1.5em;
	-webkit-transform:translate(-50%,0);
	-moz-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0);
	transform:translate(-50%,0);
	color:#fff;
}
.config button{
	display:block;
	position:relative;
	margin:1em auto;
}
button span:not(.fa){
	position:absolute;
	text-overflow: inherit;
	color:#fff;
	position:absolute;
	left:-500%;
	text-align: right;
}











/* XSD Smartphones (THIS IS DEFAULT, SHOULDN'T USE)  *768px* */
@media screen and (max-width: 700px){}

/* SD Portrait-specific tablets *(min-width: 700px) and (max-width: 768px) and (orientation: portrait) * */
@media screen and (min-width: 700px){
	body{
		
	}


	
}

/* Landscape-specific tablets *(min-width:768px) and (max-width: 1024px) and (orientation: landscape)* */
@media screen and (min-width:769px){
	body{
		
	}
	

}
/* MD Medium laptops */
@media screen and (min-width: 1025px){
	body{
		
	}
	
	

}
/* LD Large laptops */
@media screen and (min-width: 1281px){
	body{

	}

}
/* XLD Extra-large laptops */
@media screen and (min-width: 1921px){
	body{
		
	}
}

/* 4K, THAT'S RIGHT BABY! */
@media screen and (min-width: 3840px){
	body{
		
	}
	
}
/* 5K, WHAT THE HECK?! */
@media screen and (min-width: 5120px){
	body{
		
	}
}

/* CSS for Printing */
@media print{
	
}