.hero::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 32%;
  width: max(50rem, 80vw);
  height: max(80rem, 80vh);
  background-color: #ff695b;
  transform: translateX(-50%) rotate(20deg);
  border-top-right-radius: 4rem;
  z-index: 0;
}

.title {
  text-align: center;
  text-shadow: 5px 5px var(--mc-color-red-500);
}

.rich-text a {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--mc-color-yellow);
  transition: all 0.3s;
}

.rich-text p {
  margin-bottom: 1.6rem;
}

@media (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: minmax(520px, 800px) minmax(420px, 460px);
    align-items: flex-start;
    gap: 5rem;
  }
}

@media (min-width: 1280px) {
  .hero::before {
    left: 40%;
  }
}
