.hero::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 32%;
  width: max(50rem, 80vw);
  height: max(80rem, 80vh);
  background-color: #ff695b;
  transform: translateX(-50%) rotate(20deg);
  border-top-right-radius: 4rem;
  z-index: 0;
}

.title {
  text-shadow: 5px 5px var(--mc-color-red-500);
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: minmax(384px, 640px) 300px;
    justify-content: space-around;
    column-gap: 2rem;
  }

  .shelf {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: minmax(460px, 1fr) 320px;
    justify-content: space-around;
    column-gap: 5rem;
  }
}

@media (min-width: 1280px) {
  .hero::before {
    left: 40%;
  }
}
