<div class='page clearfix'>
	<form class="additional-page" method='post' enctype='multipart/form-data'>
		<div class='title xsd12 sd-l3' data-color='#39A9DB'>
			<h5 name='title' contenteditable="true">{{Title}}</h5>
		</div>
		<div class='content column xsd12 sd-l9 sd-loffset3'>
			<div name='adescription' contenteditable="true">{{Content}}</div>
			<input type="hidden" name="page-id" value="{{ID}}">
			<input type='submit' class='about-button' data-color='{{Color}}' value='Guardar'>
		</div>
	</form>
</div>