<div class='page clearfix'>
	<form class="setting-form" method='post' enctype='multipart/form-data'>
		<div class='title xsd12 sd-l3' data-color='{{Color}}'>
			<h5 name='name' contenteditable="true">{{Name}}</h5>
		</div>
		<div class='content column xsd12 sd-l9 sd-loffset3'>
			<div name='value' contenteditable="true">{{Value}}</div>
			<input type="hidden" name="setting-id" value="{{ID}}">
			<input type='submit' class='about-button' data-color='{{Color}}' value='Guardar'>
		</div>
	</form>
</div>