<header class="clearfix">
			<div class="container">
				<h1>Moco-Comics</h1>
				<div class="user-settings">
					<img src="img/admin/juanele.jpeg" class="user-avatar">
					<nav class="settings">
						<ul>
							<li><button class="get-support">¿Problemas?</button></li>
							<li><button class="logout">Cerrar sesión</button></li>
						</ul>
					</nav>
				</div>
				<div class="xsd10">
					<nav class="site-nav">
						<ul>
							<li>
								<button data-nav="notifications">
									<span class="fa fa-bell-o sd-l-invisible"></span><span class="xsd-invisible sd-l-visible">Notificaciones</span>
								</button>
							</li>
							<li>
								<button data-nav="characters">
									<span class="fa fa-smile-o sd-l-invisible"></span><span class="xsd-invisible sd-l-visible">Personajes</span>
								</button>
							</li>
							<li>
								<button data-nav="posts">
									<span class="fa fa-newspaper-o sd-l-invisible"></span><span class="xsd-invisible sd-l-visible">Posts</span>
								</button>
							</li>
							<li>
								<button data-nav="store">
									<span class="fa fa-shopping-cart sd-l-invisible"></span><span class="xsd-invisible sd-l-visible">Tienda</span>
								</button>
							</li>
							<li>
								<button data-nav="pages">
									<span class="fa fa-pencil sd-l-invisible"></span><span class="xsd-invisible sd-l-visible">Páginas</span>
								</button>
							</li>
						</ul>
					</nav>
				</div>
				<button class="add-post"><span class="fa fa-plus"></span></button>
			</div>
		</header>
		<section class="modal-window update-info">
			<div class="post-class">
				<div class="form-action clearfix">
					<button class="cancel pull-left-f"><span class="fa fa-close"></span>Cancelar</button>
				</div>
				<div class="modal-content">
					<h3 data-update="title"></h3>
					<span data-update="details"></span>
					<p data-update="description"></p>
					<ul data-update="features">
					</ul>
					<button data-update="install">Actualizar</button>
				</div>
			</div>
		</section>
		<section class="modal-window new-post">
			<div class="post-class">
				<div class="form-action clearfix">
					<button class="cancel pull-left-f"><span class="fa fa-close"></span>Cancelar</button>
					<button id="sendpost" type="submit" class="pull-right-f"><span class="fa fa-check"></span>Publicar</button>
				</div>
				<form class="create-post" id="createpost" method="post">

					<div class="image-input">
						<img data-post="image-preview" src="img/admin/upload.png"/>
						<div class="img-uploader">
							<button>
								<input name="image-input" type="file" class="upload-img" />
							</button>
						</div>
					</div>
					<time data-post="date" datetime=""></time>
                    <input name="post-id" type="hidden" value="0" />
					<span  data-post="category">
						<select  name="post-category">
                            {{each categories categoryOption}}
						</select>
					</span>
					<div data-post="title">
						<input type="text" name="post-title" placeholder="Título del post"/>
					</div>
					<div data-post="content" contenteditable="true" >
						<p>Escribe aquí</p>
					</div>
					<div data-post="inputs"></div>
				</form>
				<div class="editor-tools">
					<div class="url-receiver">
						<button class="close-url"><span class="fa fa-close"></span></button>
						<input type="text" id="url-pass" placeholder="http://ejemplo.com">
						<button class="accept-url"><span class="fa fa-check"></span></button>
					</div>
					<div class="img-receiver">
						<button class="close-img"><span class="fa fa-close"></span></button>
						<button class="img-receiver-input">
							<input type="file" id="img-pass" class="upload-img staged" name="img-pass[]" placeholder="Selecciona una imagen">
							<span>Selecciona una imagen</span>
						</button>
						<button class="accept-img"><span class="fa fa-check"></span></button>
					</div>
					<div class="video-receiver">
						<button class="close-video"><span class="fa fa-close"></span></button>
						<input type="text" id="video-pass" placeholder="Inserta el código HTML">
						<button class="accept-video"><span class="fa fa-check"></span></button>
					</div>
					<div class="tools">
						<button class="xsd2" data-edit="bold" title="Negritas">B</button>
						<button class="xsd2" data-edit="italic" title="Italicas">I</button>
						<button class="xsd2" data-edit="underline" title="Subrayar">U</button>
						<button class="xsd2" data-edit="font" title="Cambiar Letra">F</button>
						<button class="xsd2" data-edit="link" title="Agregar link al texto seleccionado"><span class="fa fa-link"></span></button>
						<button class="xsd2" data-edit="img" title="Agregar una imagen"><span class="fa fa-image"></span></button>
						<button class="xsd2" data-edit="video" title="Agregar video"><span class="fa fa-play"></span></button>
					</div>
				</div>
			</div>
		</section>
		<div class="main">
			<div class="container">
				<section data-site="notifications">
					<div class="widget-wrapper clearfix">
						<div class="widget column xsd12 sd6 md3">
							<div class="counter" data-count="posts">
								<div class="widget-background">
									<span>{{numberOfPosts}}</span>
								</div>
								<span class="title"><span class="fa fa-newspaper-o"></span>Posts</span>
							</div>
						</div>
						<div class="widget column xsd12 sd6 md3">
							<div class="counter" data-count="post">
								<div class="widget-background">
									<span>{{mostCommentedPost}}</span>
								</div>
								<span class="title"><span class="fa fa-trophy"></span>Post del mes</span>
							</div>
						</div>
						<div class="widget column xsd12 sd6 md3">
							<div class="counter" data-count="comments">
								<div class="widget-background">
									<span>{{numberOfComments}}</span>
								</div>
								<span class="title"><span class="fa fa-comments-o"></span>Comentarios</span>
							</div>
						</div>
						<div class="widget column xsd12 sd6 md3">
							<div class="counter" data-count="user">
								<div class="widget-background">
									<span>{{topCommenter}}</span>
								</div>
								<span class="title"><span class="fa fa-user"></span>Usuario del mes</span>
							</div>
						</div>

					</div>

					<div class="notification-wrapper clearfix">
                        {{each notification notification}}
					</div>
				</section>

				<section data-site="characters">
					<div class="characters-wrapper">
                        {{each characters characterForm}}
                        {{> newCharacterForm}}
					</div>
				</section>


				<section data-site="store">

					<div class="items-wrapper">
						<div class="double">

						<form method="post" enctype="multipart/form-data">
							<h2>Subir PDF</h2>
							<input type="file" name="pdf" required>
							<p>Perteneciente a: <select name="belong">
								{{each storeItems storeOption}}
							</select></p>
						   <input type="submit" value="Subir">
                    	</form>

					<form method="post">
						<h2>Enviar PDF</h2>
						<p>Enviar <select name="sitem" id="so" required>{{each fileItems fileOption}}</select> al mail <input type="email" name="smail" placeholder="example@example.com" name="smail" required> con el mensaje: <input type="text" name="smessage" value="Gracias por tu compra!" required></p>
					   <input type="submit" value="Enviar">
                    </form>

						</div>
	                    <h2>Items de la Tienda</h2>
                        {{each storeItems adminStoreItem}}
                        {{> newStoreItemForm}}
					</div>
				</section>

				<section data-site="posts">
					<div class="posts-wrapper">
						{{each posts adminPost}}
					</div>
				</section>

				<section data-site="pages">
					<div class="pages-wrapper">
						{{each pages adminPage}}
					</div>
				</section>

			</div> <!--END OF CONTAINER -->
		</div>
