{{> header}}
<section class="featured-wrapper">
	<div class="container clearfix">
		<div class="column sd-l12">
			<a href="" class="home-link"><span class="fa fa-angle-left"></span><span class=" fa fa-home"></span></a>
		</div>
		<div class="column sd-l7 md8">
			<article class="clearfix">
				<img data-post="img" class="small featured-img" src="{{Image}}">
				<time datetime="{{Date}}">{{nice_date}}</time>
				<span data-post="category">{{Category}}</span>
				<h5 data-post="title">{{Title}}</h5>
				{{Content}}
				<footer data-post="footer">
					<div class='social-wrapper'>
                        <div class='facebook-buttons'>
                            <div class='fb-like' data-href='http://www.moco-comics.com/{{Url}}/' data-layout='button_count' data-action='like'data-show-faces='false' data-share='true'></div>
                        </div>
                        <div class='twitter-button'>
                            <a href='https://twitter.com/share' class='twitter-share-button' data-url='http://www.moco-comics.com/{{Url}}/'>Tweet</a>
                        </div>
                        <div class="google-button">
                        	<div class='g-plusone'  data-size='medium'  data-href='http://www.moco-comics.com/{{Url}}/'></div>
                        </div>
						<div class="tumblr-button">
							<a class='tumblr-share-button' data-color='blue' data-notes='right' href='https://embed.tumblr.com/share' data-content='http://www.moco-comics.com/{{Image}}' data-posttype='photo'></a>
						</div>
                    </div>
				</footer>
			</article>
		</div>
		<div class="sd-l-aside-wrapper column sd-l5 md4" data-site="post">
			<nav class="posts-navigation">
				<div class="tools" data-site="post">
					<div class="container clearfix">
						<h5>¡Comenta!</h5>
						<button class="add-comment"><span class="fa fa-plus"></span></button>
						<form class="new-comment"  method="post" id="Commenter">
							<input type="text" name="name" placeholder="Nombre" required/>
							<input type="email" name="email" placeholder="Correo" required/>
                            <input type="url" name="web" placeholder="Web" />
							<input type="hidden" name="rep" value="None">
                            <input type="hidden" name="cuco" value="{{ID}}">
							<textarea name="comment" placeholder="Escribe tu comentario..." required></textarea>
							<input type="submit" value="Aceptar">
						</form>
                        <span id="cFail">Tu comentario no se ha enviado.</span>
					</div>
				</div>
                <div class='comments-wrapper'>
                    {{each comments comment}}
				</div>
			</nav>
		</div>
	</div>
</section>
{{> ad}}
{{> extendedFooter}}