<aside class='announcement'><div class='container'><p>{{message}}</p></div></aside>
<header id="main">
  <h1><a href="">Moco-Comics</a></h1>
  <span>Monitos de Juanele</span>
  <nav class="cartoons">
    <img class="character" src="img/patote.png" title="Patote"/>
    <img class="character" src="img/abuela.png" title="Abuela Karateca"/>
    <img class="character" src="img/chocolomo.png" title="Chocolomo"/>
    <img class="character" src="img/cuco.png" title="Cuco"/>
  </nav>
  <nav class="main-nav">
    <a href="archivo-de-comics/">Comics</a>
    <a href="el-autor/">Acerca de</a>
    <a href="tienda/">Tienda</a>
  </nav>
</header>
