<div class="container">
	<fieldset class="login-form">
		<form id="login" method="post">
			<div class="header">
				<h3>Moco-Comics</h3>
				<button type="submit"><span class="fa fa-key"></span></button>
			</div>
			<div class="body">
				<input type="text" name="user" placeholder="Usuario" required/>
				<input type="password" name="password" placeholder="Contraseña" required />
			</div>
		</form>
	</fieldset>
</div>
<div class="config">
	<button class="settings"><span class="fa fa-question"></span></button>
</div>