{{> header}}
<section class="featured">
	<div class="container clearfix">
		<h5 class="section-title">Lo más nuevo</h5>
		{{> featured}}
		{{> ad}}
	</div>
</section>


<section class="social-buttons">
	<div class="social-wrapper">
		<h3>Mantente conectado</h3>
		<a href="http://www.facebook.com/MocoComics" target="_blank" class="facebook-btn"><span class="fa fa-facebook"></span>Dale like</a>
		<a href="http://juanele.deviantart.com/" target="_blank" class="deviantart-btn"><span class="fa fa-deviantart"></span>Comenta</a>
		<a href="http://twitter.com/juanele_tamal" target="_blank" class="twitter-btn"><span class="fa fa-twitter"></span>Síguenos</a>
		<a href="http://juanele-tamal.tumblr.com/" target="_blank" class="tumblr-btn"><span class="fa fa-tumblr"></span>Comparte</a>
	</div>
</section>

<section class="blog" id="blog">
	<div class="sd-l-aside-wrapper column sd-l4 md3 ">
		<nav class="posts-navigation">
			{{> navigation}}
		</nav>
		<div class="paypal-donation">
			<p>Si te gustan mis cómics puedes apoyar con una donación, ¡grashiash!</p>
			<button class="donations">
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="paypal-form">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="7RY2U2LCVADW2">
						<input type="image" class="paypal-link" src="http://moco-comics.com/img/Paypal-donate.png" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
					</form>
				</button>
		</div>
	</div>
	<div class="container clearfix">
		{{each posts PostPreview}}
	</div>
</section>


<section class="js-responsive-aid">
	<div class="mobile-donation sd-invisible">
		<div class="paypal-donation xsd-visible">
			<p>Si te gustan mis cómics puedes apoyar con una donación, ¡grashiash!</p>
			<button class="donations">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="paypal-form">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="7RY2U2LCVADW2">
				<input type="image" class="paypal-link" src="http://moco-comics.com/img/Paypal-donate.png" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
			</form>
			</button>
		</div>
	</div>
</section>
{{> footer}}