<div class='character'>
	<form id='newchar' method='post' data-character='new' data-color='#ccc' enctype='multipart/form-data'>
		<div class='main-wrapper clearfix'>
			<div class='image-input'>
				<img src='img/image.svg' />
				<div class='img-uploader'>
					<button>
						<input name='nimage' type='file' class='upload-img' required/>
					</button>
				</div>
			</div>
			<input type='text' name='nname' data-char='name' value='Nuevo'>
		</div>
		<div class='form-footer'>
		    <input type='hidden' name='new-color' value=''>
			<div class='color-select'>
				<div class='absolute-select'>
					<div class='color'>
						<button class='new-color' data-color='rgb(121,188,50)'></button>
					</div>
					<div class='color'>
						<button class='new-color' data-color='#D5573B'></button>
					</div>
					<div class='color'>
						<button class='new-color' data-color='rgb(218,98,125)'></button>
					</div>
					<div class='color'>
						<button class='new-color' data-color='rgb(54,133,181)'></button>
					</div>
					<div class='color'>
						<button class='new-color' data-color='rgb(230,175,46)'></button>
					</div>
					<div class='color active'>
						<button class='new-color' data-color='rgb(135,80,83)'></button>
					</div>
					<div class='color'>
						<button class='new-color' data-color='rgb(57,169,219)'></button>
					</div>
					<div class='color'>
						<button class='new-color' data-color='rgb(91,140,90)'></button>
					</div>
					<div class='color'>
						<button class='new-color' data-color='rgb(244,116,59)'></button>
					</div>
				</div>
			</div>
			<input type='submit' value='Crear'>
		</div>
	</form>
</div>