<div class='store-item' data-item='new'>
		<form id='newstor' method='post' enctype='multipart/form-data' >
			<div class='image-input'>
				<img class='item-img' src='img/image.svg'/>
				<div class='img-uploader'>
					<button>
						<input name='nsimage' type='file' class='upload-img' required/>
					</button>
				</div>
			</div>
			<div class='form-footer'>
				<input type='text' name='nname' value='Nuevo item'>
				<label>$
					<input type='number' name='nprice' value='000'>
				</label>
				<input type='text' name='pp' placeholder='Paypal Button...'>
				<input type='submit' value='Crear'>
			</div>
		</form>
	</div>
</div>